body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #add8e6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 320px;
}

.title {
    margin-bottom: 20px;
    color: #333;
}

.input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #0056b3;
}

.qrContainer {
    margin-top: 20px;
}

@keyframes float {
    0% {
        transform: translateY(100vh) scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-10vh) scale(1);
        opacity: 0;
    }
}

.bubble-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -10vh;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: float 6s linear infinite;
}